/*头部样式*/
#header {
	width: 100%;
	height: 141px;
}

/*使内容居中用的div*/
.forCenter_top {
	height: 30px;
	background: #F6F6F6;
}

/*最顶部的一行导航栏*/
.topNav {
	width: 1240px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	font-size: 14px;
	font-family: "微软雅黑";
}

.city {
	float: left;
	margin-left: 12px;
}

.city a {
	color: black;
}

.city a:hover {
	color: #2ba0ea;
}

.login {
	float: right;
	color: #2ba0ea;
}

.login a {
	color: #2ba0ea;
	display: inline-block;
}

.login span {
	width: 1px;
	height: 15px;
	margin: 8px 10px 0;
	background: #bbb;
	display: inline-block;
	vertical-align: top;
}

.login .hotPhone {
	color: black;
	margin-left: 5px;
}

/*导航栏logo区域*/
.forCenter_logo {
	border-bottom: 1px solid #DADADA;
}

.logo {
	width: 1240px;
	height: 70px;
	margin: 0 auto;
}

.logo img {
	float: left;
}

.logo img:nth-child(2) {
	margin: 19px 0 19px 5px;
}

.logo p {
	font-size: 20px;
	float: right;
	color: #43a4db;
	height: 70px;
	line-height: 70px;
	margin-right: 6px;
}

/*主导航栏区域*/
.mainNav {
	width: 1240px;
	height: 40px;
	margin: 0 auto;
}

.mainNav_left {
	width: 220px;
	height: 40px;
	color: white;
	background: #29a7e1;
	opacity: 0.8;
	height: 40px;
	line-height: 40px;
	float: left;
}

.mainNav_left p {
	font-size: 16px;
	margin-left: 19px;
	display: inline-block;
}

.mainNav_left img {
	float: right;
	margin: 14px 20px;
}

/*主导航栏*/
.mainBar {
	float: left;
	margin-left: 12px;
}

.mainBar  li {
	width: 83px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

.mainBar a {
	color: black;
}

.mainBar a:hover {
	color: #28a7e1;
}

/*content的banner区域样式开始*/
.forCenter_banner {
	width: 100%;
	height: 420px;
	background: url(../img/banner.jpg) no-repeat;
	/*overflow: hidden;*/
}

.banner {
	width: 1240px;
	height: 420px;
	margin: 0 auto;
	position: relative;
}

/*左部侧边栏*/
.leftSidebar {
	width: 220px;
	float: left;
}

.leftSidebar_cont {
	display: block;
	color: red;
}

.barOption {
	width:220px;
	height: 139px;
	background-color: rgba(41,167,225,0.5);
	/*opacity: 0.8;*/
	display: block;
	border-bottom: 2px solid rgba(3, 3, 3, 0.4);
	position: relative;
}

.barOption:hover {
	background: white;	
}

.barOption:hover a{
	color: black;
	background: white;	
}

.leftSidebar li:last-child {
	height: 138px;
	border: none;
}

.barOption img:first-child {
	/*position: absolute;*/
	/*top: 57px;
	left: 17px;*/
	margin: 57px 0 0 17px;
}

.barOption img:nth-child(2) {
	position: absolute;
	top:33px;
	left: 62px;
	
}

.cont {
	width: 144px;
	height: 100px;
	font-size: 14px;
	color: white;
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: inline-block;
}

.content_title {
	color: white;
	font-size: 16px;
}

.content {
	font-size: 14px;
	word-spacing: 14px;
	color: #999999;
	line-height: 24px;
}

.cont_top {
	margin-top: 10px;
}

/*悬浮框区域样式*/

.second_menu1_1 {
	display: none;
}
	
.second_menu1_2 {
	display: none;
}

.second_menu1_3 {
	display: none;
}

.second_menus {
	width: 650px;
	height: 420px;
	border-top: 1px solid #29a7e1;
	border-bottom: 1px solid #29a7e1;
	float: left;
	position: absolute;
	top: 0px;
	left: 220px;
	box-sizing: border-box;
	padding: 25px 0 0 50px;
	background: white;
	z-index: 1;
	transition: 1s;
}

.second_menu1_title {
	width: 100%;
	height: 25px;
	margin-bottom: 25px;
	border-left: 5px solid #5bd2f2;
	padding-left: 10px;
	box-sizing: border-box;
}

.second_menu1_title span:first-child {
	font: 18px/18px "微软雅黑";
}

.second_menu1_title span:nth-child(2) {
	height: 23px;
	margin: 0 10px 0 10px;
	border-left: 2px solid #999999;
	vertical-align: middle;
}

.second_menu1_title span:last-child {
	font: 14px/14px "微软雅黑";
	vertical-align: middle;
	color: #999999;
}

.SM_list {
	width: 260px;
	height: 60px;
	/*border: 1px solid red;*/
	float: left;
	box-sizing: border-box;
	margin: 0 38px 20px 0;
	background: #7976fe;
	padding: 8px 0 0 14px;
	position: relative;
}

.item {
	color: white;
	display: block;
	font-size: 14px;
}

.more {
	width: 90px;
	height: 18px;
	background: #3d3b7f;
	display: block;
	text-align: center;
	line-height: 18px;
	margin-top: 7px;
	color: white;
	font-size: 12px;
}

.SM_list img {
	position: absolute;
	top: 17px;
	right: 16px;
}

/*banner中间的搜索栏*/
.banner_search {
	width: 585px;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	bottom: 60px;
	left: 317px;
	border: 10px solid rgba(0,0,0,0.5);
	border-radius: 10px;
}

.banner_select {
	width: 117px;
	height: 40px;
	display: inline-block;
}

.banner_sel {
	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 117px;
  	height: 40px;
  	opacity: 0;
  	/*appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
  	outline: none;*/
}

.banner_select span {
	width: 117px;
	height: 40px;
	background: white;
	display: inline-block;
	border-radius: 5px;
	line-height: 40px;
	background:  white url(../img/drop_triangle.png) no-repeat 90% 50%;
	padding-left: 29px;
	box-sizing: border-box;
}


.banner_inp {
	width: 465px;
	height: 40px;
	background: white url(../img/search_icon.png) no-repeat 15px 9px;
	float: right;
	padding-left: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 40px;
}

.banner_inp  input[type=text] {
	width: 270px;
	height: 14px;
	font-size: 14px;
	color: #d3d5e1;
}

.banner_inp input[type=submit] {
	width: 146px;
	height: 40px;
	background: #8ec61a;
	float: right;
	border-radius: 0 5px 5px 0;
	color: white;
	font-size: 16px;
}

/*banner右边的表单部分*/

.rightSubscribe {
	width: 300px;
	height: 420px;
	float: right;
}

.rightSubBanner {
	width: 300px;
	height: 142px;
	background: url(../img/banner_right_bg.jpg);
	position: relative;
}

.rightSubBanner p:first-child {
	position: absolute;
	top: 38px;
	right: 21px;
	font-weight: bold;
}

.rightSubBanner p:last-child {
	width: 144px;
	height: 25px;
	background: #90c320;
	position: absolute;
	color: white;
	line-height: 25px;
	text-align: center;
	top: 67px;
	right: 16px;
	
}

.subscribeForm {
	width: 300px;
	height: 278px;
	background: rgba(255,255,255,0.8);
	padding: 60px 0 0 20px;
	box-sizing: border-box;
}

.phone {
	width: 260px;
	height: 40px;
	background: url(../img/icon_tel.jpg) no-repeat;
	padding-left: 40px;
	box-sizing: border-box;
}

.nName {
	width: 260px;
	height: 40px;
	background: url(../img/icon_per.jpg) no-repeat;
	padding-left: 40px;
	box-sizing: border-box;
	margin-top: 20px;
}


.sSF_inp {
	width: 220px;
	height: 40px;
	font: 14px "微软雅黑";
	padding-left:10px ;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	color: #c4c4c4;	
}

.sSF_name {
	width: 120px;
	float: left;
}

.sSF_sel {
	width: 100px;
	height: 40px;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	float: right;
	appearance: none;
	-webkit-appearance: none;
	background:white url(../img/drop_triangle.png) no-repeat 90% 50%;
}

.sSF_sub {
	width: 160px;
	height: 40px;
	background: #29a7e1;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	margin: 20px 0 0 50px;
}

/*热门服务区域样式*/
.forCenter_hs{
	width: 1240px;
	margin: 0 auto;
}

.hotserve {
	width: 100%;
	height: 270px;
	text-align: center;
	overflow: hidden;
}

.hotSever_title {
	width: 80px;
	height: 20px;
	border-left: 4px solid #29a7e1;
	margin: 20px 0 20px 0;
	padding-left: 7px;
}

.ht_list {
	width: 295px;
	height: 160px;
	/*border: 1px solid red;*/
	float: left;
	margin-right: 20px;
	position: relative;
	color: white;
}

.ht_list:hover {
	cursor: pointer;
}

.ht_list_1 {
	background: url(../img/hot_service1.jpg) no-repeat;
}

.ht_list_2 {
	width: 295px;
	background: url(../img/hot_service2.jpg) no-repeat;
}

.ht_list_3 {
	background: url(../img/hot_service3.jpg) no-repeat;
}

.ht_list_4 {
	margin-right: 0px;
	background: url(../img/hot_service4.jpg) no-repeat;
}

.ht_item {
	font: 22px/40px "FZLTXHK,微软雅黑";
	margin-top: 30px;
}

.ht_introduce {
	font: 14px/20px "FZLTXHK,微软雅黑";
}

.ht_action {
	font-family: "FZLTXHK,微软雅黑";
	width: 108px;
	height: 26px;
	display: block;
	position: absolute;
	left: 91px;
	bottom: 32px;
	text-align: center;
	border: 2px solid white;
	box-sizing: border-box;
}

/*your_problem区域样式*/
.forCenter_yp{
	width: 100%;
	background: #f8f8f8;
	overflow: hidden;
}

.your_problem {
	width: 1240px;
	margin: 0 auto;
	height: 500px;
	padding-top: 57px;
	box-sizing: border-box;
}

.yp_top {
	text-align: center;
	height: 25px;
	position: relative;
}

.yp_top div {
	display: inline-block;
}

.yp_line {
	width: 290px;
	border-bottom: 1px solid #7e7e7e;
	position: absolute;
	top: 50%;
}

.yp_line_left {
	left: 150px;
}

.yp_line_right {
	right: 150px;
}

.yp_top_text {
	font-size: 25px;
	height: 25px;
	line-height: 25px;
	width: 360px;
	text-align: center;
}

/*your_problem下部分区域样式*/
.yp_content {
	width: 100%;
	height: 417px;
	padding-top: 59px;
	text-align: center;
}

.yp_list {
	width: 232px;
	height: 206px;
	box-sizing: border-box;
	float: left;
	margin: 0 10px 0 10px;
	text-align: center;
	background: linear-gradient(to bottom, #f8f8f8 46px,white 46px, white);
}

.yp_list_1 {
	margin-left: 0px;
}

.yp_list_5 {
	margin-right: 0px;
}

.yp_list_title {
	margin-top: 15px;
	font: 16px/21px "FZLTXHK,微软雅黑";
}

.yp_list_explain {
	color: #999999;
	font: 14px/20px "FZLTXHK,微软雅黑";
}

.yp_content input[type=button] {
	width: 280px;
	height: 40px;
	background: #29a7e1;
	border-radius: 3px;
	color: white;
	font-size: 18px;
	margin-top: 60px;
}

/*ourAdvantage区域样式*/
.forCenter_ad{
	width: 100%;
	background: #f8f8f8;
	overflow: hidden;
	background: url(../img/benefit_bg.png) no-repeat;
}

.ourAdvantage {
	width: 1240px;
	height: 500px;
	margin: 0 auto;
	padding-top: 76px;
	box-sizing: border-box;
}

.ad_title {
	text-align: center;
	font: 26px/26px "微软雅黑";
	color: white;
}

.ad_explain_cont {
	margin-top: 59px;
	background: url(../img/benefit_content_line.png) no-repeat 50% 50%;
}

.ad_explain {
	margin: 0 auto;
	width: 240px;
	height: 36px;
	border: 1px solid #a1a1a1;
	text-align: center;
	color: white;
	font: 16px/36px "微软雅黑";
}

.ad_list_cont {
	width: 100%;
	height: 221px;
	margin-top: 80px;
	box-sizing: border-box;
}

.ad_list {
	width: 16.66%;
	height: 221px;
	float: left;
	text-align: center;
	color: white;
}

.ad_list_1 {
	margin-top: 17px;
	font: 14px/20px "微软雅黑";
}

.ad_list_2 {
	font: 14px/20px "微软雅黑";
}

/*客户评价页面样式*/
/*客户评价上部分样式*/
.forCenter_evaluate {
	width: 100%;
}

.evaluate {
	width: 1240px;
	height: 435px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	box-sizing: border-box;
	padding-top: 56px;
	box-sizing: border-box;
}

.evaluate_top {
	text-align: center;
	height: 26px;
	position: relative;
}

.evaluate_top div {
	display: inline-block;
}

.et_line {
	width: 400px;
	border-bottom: 1px solid #7e7e7e;
	position: absolute;
	top: 50%;
}

.et_line_left {
	left: 150px;
}

.et_line_right {
	right: 150px;
}

.et_top_text {
	font-size: 26px;
	height: 26px;
	line-height: 26px;
	width: 140px;
	text-align: center;
}

/*客户评价人物区域样式*/
.evaluate_bottom {
	margin-top: 60px;
	/*overflow: hidden;
	height: 165px;*/
}

.ev_person {
	width: 50%;
	height: 165px;
	padding-left: 60px;
	box-sizing: border-box;
	float: left;
}

.ev_person img {
	top: 47px;
}

.person_text_cont {
	width: 400px;
	height: 100%;
	display: inline-block;
	margin-left: 20px;
}

.person_title {
	font: 18px/28px "微软雅黑";
	padding: 8px 0 0px 0;
}

.person_line {
	border-bottom: 1px solid #e1e5e8;
	margin: 8px 0 8px 0;
}

.person_detail {
	font: 14px/18px "微软雅黑";
	color: rgb(154, 163, 170);
}

.evaluate_button_cont {
	width: 70px;
	height: 22px;
	margin: 78px auto;
}

.evaluate_button {
	width: 22px;
	height: 22px;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 50%;
	float: left;
}

.evaluate_button:hover {
	cursor: pointer;
}

.ev_left {
	margin-right: 20px;
	background: url(../img/comment_down_left.png) center center no-repeat;
}

.ev_right {
	background: url(../img/comment_down_right.png) center center no-repeat;
}

/*合做伙伴区域样式*/
.forCenter_partner {
	width: 100%;
	height: 424px;
	background: #f4f4f4;
}

.partner {
	width: 1240px;
	height: 100%;
	padding-top: 56px;
	margin: 0 auto;
}

.partner_top {
	text-align: center;
	height: 26px;
	position: relative;
}

.partner_top div {
	display: inline-block;
}

.part_line {
	width: 400px;
	border-bottom: 1px solid #7e7e7e;
	position: absolute;
	top: 50%;
}

.part_line_left {
	left: 150px;
}

.part_line_right {
	right: 150px;
}

.part_top_text {
	font-size: 26px;
	height: 26px;
	line-height: 26px;
	width: 140px;
	text-align: center;
}

.partner_list_cont {
	width: 1240px;
	height: 220px;
	margin-top: 90px;
	/*border: 1px solid red;*/
}

/*合作伙伴下半部分列表*/
.pl {
	width: 100%;
	height: 100px;
}

.pl_up {
	margin-bottom: 20px;
}

.pl_item {
	width: 190px;
	height: 100px;
	float: left;
	margin: 0 10px 0 10px;
}

.pl_item_left {
	margin-left: 0px;
}

.pl_item_right {
	margin-right: 0px;
}

/*公司新闻区域样式*/
.forCenter_news {
	width: 100%;
	height: 340px;
	/*border: 1px solid red;*/
}

.news {
	width: 1240px;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.news_cont {
	width: 33.33%;
	height: 100%;
	float: left;
	/*border: 1px solid black;*/
	box-sizing: border-box;
	padding: 60px 0 0 62px;
}

.news_cont_right {
	width: 33.34%;
}

.nc_title_h {
	width: 72px;
	height: 24px;
	font: 18px/24px "微软雅黑";
	border-bottom: 4px solid #29a7e1;
	float: left;
}

.nc_title_h a {
	color: rgb(40, 167, 225);
}

.nc_title_line {
	width: 252px;
	height: 28px;
	border-bottom: 1px solid #e1e5e8;
	text-align: right;
	margin-left: 6px;
	font: 12px/26px "微软雅黑";
	float: left;
}

.nc_title_line a {
	color: #999;
}

.news_cont_list {
	width: 100%;
	margin-top: 20px;
}

.nc_list {
	width: 300px;
	height: 25px;
	font: 14px/24px "微软雅黑";
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap
}

.nc_list a {
	color: black;
}

/*广告部分区域样式*/
.forCenter_advert {
	width: 100%;
	height: 102px;
	background: #f4f7ff;
}

.advert_cont {
	width: 1240px;
	height: 102px;
	margin: 0 auto;
}

.advert_cont_ul {
	width: 1240px;
	height: 102px;
}

.ac_list {
	position: relative;
}

.ac_list_1 {
	width: 25%;
	height: 102px;
	float: left;
	margin-left: 40px;
}

.ac_list_2 {
	width: 221px;
	height: 102px;
	float: left;
	margin-left: 40px;
}

.ac_list_3 {
	width: 221px;
	height: 102px;
	float: left;
	margin-left: 65px;
}

.ac_list_4 {
	width: 250px;
	height: 102px;
	float: left;
	margin-left: 45px;
}

.advert_cont img {
	margin-top: 32px;
}

.ac_text {
	margin: 15px 0px 0px 18px;
	display: inline-block;
	vertical-align: top;
}

.ac_text_up {
	font: 16px/26px "微软雅黑";
}

.ac_text_down {
	font: 14px/24px "微软雅黑";
	color: #898989;
}

.ac_list_line {
	position: absolute;
	right: 0;
}

/*网站信息区域样式*/
.forCenter_siteinfo {
	width: 100%;
	height: 207px;
	/*border: 1px solid red;*/
}

.siteinfo {
	width: 1240px;
	height: 207px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.web_links {
	width: 450px;
	height: 207px;
	float: left;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

.QR_code {
	width: 450px;
	height: 207px;
	float: left;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

.callUs {
	width: 340px;
	height: 207px;
	float: left;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

.about_us {
	width: 33.33%;
	height: 207px;
	float: left;
	padding-top: 14px;
	box-sizing: border-box;
	text-align: center;
}

.au_title {
	font: 16px/31px "微软雅黑";
	color: black;
}

.au_links a {
	font: 14px/31px "微软雅黑";
	color: #a0a0a0;
}

.QR_li {
	width: 224px;
	height: 207px;
	float: left;
	padding: 15px;
	box-sizing: border-box;
}

.QR_li {
	width: 50%;
	text-align: center;
}

.QR_title {
	font: 16px/31px "微软雅黑";
	color: black;
}

.QR_links p {
	font: 14px/25px "微软雅黑";
	color: #a0a0a0;
}

.QR_links img {
	width: 130px;
	height: 130px;
}

.callUs_ul {
	width: 340px;
	height: 207px;
}

.callUs_li {
	width: 100%;
	height: 33.33%;
	/*border: 1px solid red;*/
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

.callUs_li img {
	position: absolute;
	top: 50%;
	margin: -21.5px;
}

.callUs_li_text {
	width: 140px;
	margin: 10px 0 0 30px;
	display: inline-block;
}

.callUs_tel {
	font: 20px "微软雅黑";
	color: #28a7e1;
	text-align: left;
}

.callUs_explain {
	font: 14px "微软雅黑";
	color: #a0a0a0;
	text-align: left;
}

/*copyRight区域样式*/
.copyRight p {
	font: 14px/40px "微软雅黑";
	background: #f4f7ff;
	height: 40px;
	text-align: center;
	color: #8d8b8b;
}

/*floating_window区域样式*/
.floating_window {
	position: fixed;
	top: 200px;
	right: 18px;
	overflow: hidden;
}

.fw_li {
	width: 60px;
	height: 60px;
	background-color: #27a8e1;
	margin-bottom: 1px;
	text-align: center;
	cursor: pointer;
}

.fw_li_img {
	margin-top: 10px;
}

.fw_li_img_5 {
	margin-top: 17px;
}

.fw_li p {
	color: white;
	font: 12px "微软雅黑";
}

/*选中悬浮列表时，显示隐藏的窗口*/
.fw_li_1:hover + .fw_hidden_1 {
	display: block;
}

.fw_li_2:hover + .fw_hidden_2 {
	display: block;
}

.fw_li_3:hover + .fw_hidden_3 {
	display: block;
}

.fw_li_4:hover + .fw_hidden_4 {
	display: block;
}

.fw_hidden:hover {
	display: block;
}

/*悬浮隐藏窗口*/
.fw_hidden {
	display: none;
}

.fw_h {
	width: 300px;
	height: 80px;
	position: fixed;
	right: 78px;
	padding: 17px 0 0 16px;
	box-sizing: border-box;
	background: white url(../img/floating_window_rbtn.png) 92.5% 50% no-repeat;
}

.fw_h_1 {
	top: 200px;
}

.fw_h_2 {
	top: 261px;
}

.fw_h_3 {
	top: 322px;
}

.fw_h_4 {
	top: 383px;
}

.fw_title {
	font: 16px/16px "微软雅黑";
	color: #28a7e1;
	display: inline-block;
	padding-left: 29px;
	background: url(../img/floating_window_person.png) no-repeat;
}

.fw_explain {
	margin-top: 10px;
	font: 14px "微软雅黑";
	color: #999;
}

.fw_h_1 img {
	float: right;
	display: inline;
}

/*底部悬浮窗*/
.leave_word {
	width: 195px;
	height: 40px; 
	position: fixed;
	right: 3px;
	bottom: 0px;
    cursor: pointer;
	text-align: center;
	background: #007aff;
	border-left: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
}

.lw_img {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.lw_img_cont {
	width: 18px;
	height: 14px;
	margin-top: 13px;
	display: inline-block;
	background: url(../img/icon-mq.png) -21px -3px no-repeat;
}

.lw_word {
	width: 152px;
	height: 40px;
	font: 16px/40px "微软雅黑";
	color: white;
	display: inline-block;
	text-align: center;
	margin-top: -1px;
}
